*
{
    font-family: 'Century Gothic', Calibri, serif;
    background-color: turquoise;
}
footer
{
    margin: 1%;
    display: flex;
    justify-content: center;
}

@keyframes slidein 
{
    from {
      margin-left: 100%;
      width: 103%;
    }
  
    to {
      margin-left: -1%;
      width: 103%;
    }
  }
.exp
{
    padding-left: 3%;
    margin-left: -1%;
    animation-duration: 3s;
    animation-name: slidein;
    font-size: larger;
}
.host_p0
{
    margin-left: -1%;
    margin-right: -2%;
    animation-duration: 3s;
    animation-name: slidein;
}
.bandereau
{
    margin-left: -1%;
    margin-right: -2%;
}
.bandereau_p4
{
    margin-left: -1%;
    margin-right: -1%;
}
.form
{
    padding-left: 3%;
    margin-left: -1%;
    animation-duration: 3s;
    animation-name: slidein;
    font-size: larger;
}
.competences
{
    padding-left: 3%;
    margin-left: -1%;
    animation-duration: 3s;
    animation-name: slidein;
    font-size: larger;
}
.hobbies
{
    padding-left: 3%;
    margin-left: -1%;
    animation-duration: 3s;
    animation-name: slidein;
    font-size: larger;
}
.gif
{
    width: 643px;
}
.img_contact
{
    display: flex;
    width: 70px;
    height: 70px;
    margin: 5%;
    flex-direction: column;
    justify-content: center;
    margin-top: 7%;
}
.contact
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: larger;
    margin-top: 2%;
}
.zone_texte
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: larger;
    margin-top: 4%;
    margin-left: 3%;
    padding: 0%;
}
.espace_commentaire
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: larger;
}
.link
{
    margin-top: 7%;
    background-color: turquoise;
    font-size: large;
    text-transform: uppercase;
    text-decoration: none;
}

.logo_in
{
    display: flex;
    width: 70px;
    height: 70px;
    flex-direction: column;
    justify-content: center;
}
.img
{
    background-color: turquoise;
    margin-left: 4%;
    width: auto;
    padding: 0%;
}
.Name
{
    display: flex;
    align-self: flex-end;
    padding: 0%;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 0%;
    margin-left: 3%;
}
header
{
    display: flex;
    background-color: turquoise;
    flex-direction: row;
    padding: 0%;
    width: auto;
}
nav
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 30px;
    background-color: aquamarine;
    max-width: 100%;
    padding: 40px;
    text-transform: uppercase;
}
.basket_vid
{
    padding-left: 3%;
}
a
{
    background-color: aquamarine;
    text-decoration: none;
}

.accueil:hover{
    background-color: lightcyan;
}

.xp:hover{
    background-color: lightcyan;
}

.formation:hover{
    background-color: lightcyan;
}

.skills:hover{
    background-color: lightcyan;
}

.loisirs:hover{
    background-color: lightcyan;
}

